
h1 {
    text-align: center;
}

.bodyContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
  }
  

.pokemonList{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.pokemonCard {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 16px;
    background-color: #223f58;
    padding: 0 16px 16px 16px;
    box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.3);
    align-self: normal;
}

.typesRow {
    display: flex;
    justify-content: space-evenly;
}
.typeIcon {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}