.statList {
    gap: 16px;
}

.detailsContent {
    display: grid;
    grid-template-columns: 4fr 6fr;
    align-items: center;
}

img {
    object-fit: contain;
}

.statRow {
    list-style: none;
    gap: 10px;
    display: grid;
    grid-template-columns: 5fr 9fr;
    align-items: center;
}

.baseStatLine {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 4px;
    background-color: red;
    border-radius: 50px;
    justify-content: center;
    margin-bottom: 16px;
}